#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    border-radius: 5px;
    padding: 5px;
    max-height: : 75vh;
}

#exTab1 .tab-content p {
    color: black;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.with-navbar {
    margin-top: 50px;
}

.div-inline {
    display: inline;
}

.div-float {
    float: left;
}

.panel-group {
    margin: 5px;
    padding: 5px;
    overflow-y: scroll;
    max-height: 90vh;
}

.panel-body {
    padding: 5px 10px 5px 10px;
}

.active>.sidebar-tab {
    color: rgb(51, 122, 183);
}

.sidebar-tab {
    background-color: rgba(128, 128, 128, 0.31);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
    .sidebar-bg {
        background: aliceblue;
        height: 100vh;
        width: 25%;
    }
}

@media (max-width: 767px) {
    .affix {
        position: static;
    }
    .sidebar-bg {
        background: aliceblue;
        padding: 10px;
    }
}

.anchor {
  padding-top: 60px;
}

.modal-anchor {
    padding-top: 10px;
}

.panel-title {
  cursor: pointer;
}

.entries {
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80%;
  height: 80vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  height:55vh;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}