#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    border-radius: 5px;
    padding: 5px;
    max-height: : 75vh;
}

#exTab1 .tab-content p {
    color: black;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.with-navbar {
    margin-top: 50px;
}

.div-inline {
    display: inline;
}

.div-float {
    float: left;
}

.panel-group {
    margin: 5px;
    padding: 5px;
    overflow-y: scroll;
    max-height: 75vh;
}

.panel-body {
    padding: 5px 10px 5px 10px;
}

.active>.sidebar-tab {
    color: rgb(51, 122, 183);
}

.sidebar-tab {
    background-color: rgba(128, 128, 128, 0.31);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
    .sidebar-bg {
        background: aliceblue;
        height: 100vh;
        width: 25%;
    }
}

@media (max-width: 767px) {
    .affix {
        position: static;
    }
    .sidebar-bg {
        background: aliceblue;
        padding: 10px;
    }
}

.anchor {
  padding-top: 60px;
}